body {
    font-family: 'Arial', sans-serif;
    background-image: url('./images/game-background.jpg');
    background-position: cover;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.app {
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.card {
    border: 1px solid #333;
    padding: 10px;
    margin: 10px;
    width: 60px;
    height: 90px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    position: relative;
    background-color: #fff; 
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.deck {
    width: 150px;
    height: 220px;
    background-color: #f8f8f8;
    border-radius: 8px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 120px;
    font-size: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-image:url('./images/deck.png');
    background-size: cover;
}

.card-value, .card-suit {
    color: #333;  
    font-size: 2.5rem;
}

.card-suit.red {
    color: red;
}